{% load static %}

<li class="menu-close"><i class="mdi mdi-close"></i></li>
    <li class="user-wrap">
      <div class="user-view row">
      <!-- <div class="background">
        <img src="assets/images/office.jpg">
      </div> -->
      {% if request.user.is_authenticated %}
        <div class="col s3 imgarea">
        <a href="#user"><img class="circle" src="{% static 'assets/images/user-37.jpg' %}"></a></div>
        <div class="col s9 infoarea">
        <a href="#name"><span class="name">{{ request.user.username }}</span></a>
        <a href="#email"><span class="email">{{request.user.email}}</span></a>
        </div>
        </div>
      {% endif %}
    </li>
    

    <li class="menulinks"><ul class="collapsible">


<li class="sh-wrap"><div class="subheader">Navigation</div></li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="ui-pages-home.html">
                        <i class="mdi mdi-home-outline"></i>
                        <span class="title">Welcome</span>
                            </a>
                        </div>
                    </li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-apps.html">
                        <i class="mdi mdi-open-in-app"></i>
                        <span class="title">APPS</span><span class="badge blue-grey lighten-3 badge-rounded">NEW</span>
                            </a>
                        </div>
                    </li>
                    <li class="lvl1 ">
                    <div class=" waves-effect " >
                        <a href="sub-uielements.html">
                        <i class="mdi mdi-laptop"></i>
                        <span class="title">UI Elements</span>
                            </a>
                        </div>
                    </li>
                    
                    
                    {% if request.user.is_authenticated %}
                        <li class="lvl1 ">
                        <div class=" waves-effect " >
                            <a href="{% url 'accounts:logout' %}">
                            <i class="mdi mdi-flask-outline"></i>
                            <span class="title">Logout</span>
                                </a>
                            </div>
                        </li> 

                    {% else %}
                        <li class="lvl1 ">
                        <div class=" waves-effect " >
                            <a href="{% url 'accounts:register' %}">
                            <i class="mdi mdi-flask-outline"></i>
                            <span class="title">Register</span>
                                </a>
                            </div>
                        </li>
                        <li class="lvl1 ">
                        <div class=" waves-effect " >
                            <a href="{% url 'accounts:login' %}">
                            <i class="mdi mdi-flask-outline"></i>
                            <span class="title">Login</span>
                                </a>
                            </div>
                        </li>
                    {% endif %}
                        
                   
                    </li><li class="sep-wrap"><div class="divider"></div></li><li class="sh-wrap"><div class="subheader">Reach Us</div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="tel:+1 234 567 890">
                        <i class="mdi mdi-cellphone-basic"></i>
                        <span class="title">Phone</span>  </a>
                        </div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="mailto:email@example.com">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="title">Email</span>  </a>
                        </div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect ">
                        <a href="sms:+1 234 567 890">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span class="title">Message</span>  </a>
                        </div></li><li class="sep-wrap"><div class="divider"></div></li>
                    <li class="lvl1 ">
                    <div class="waves-effect "><a href="#" data-target="slide-settings" class="sidenav-trigger"><i class="mdi mdi-settings-outline"></i><span class="title">Settings</span>  </a>
                        </div></li>


      
        </li>
    </ul></li>
  <li class="copy-spacer"></li><li class="copy-wrap"><div class="copyright">&copy; Copyright @ jackcrimes</div>
