{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block body %}



<!-- START navigation -->
<nav class="fixedtop topbar navigation" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class=" brand-logo " ><i class="mdi mdi-ring"></i>JCR</a>

        <a href="#" data-target="" class="waves-effect waves-circle navicon back-button htmlmode show-on-large "><i class="mdi mdi-chevron-left" data-page=""></i></a>

        <a href="#" data-target="slide-nav" class="waves-effect waves-circle navicon sidenav-trigger show-on-large"><i class="mdi mdi-menu"></i></a>



        <a href="#" data-target="slide-settings" class="waves-effect waves-circle navicon right sidenav-trigger show-on-large pulse"><i class="mdi mdi-tune"></i></a>

        <a href="#" data-target="" class="waves-effect waves-circle navicon right nav-site-mode show-on-large"><i class="mdi mdi-invert-colors mdi-transition1"></i></a>
      <!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
<ul id="slide-nav" class="sidenav sidemenu">
   


            {% include 'partials/navigation.html' %}
            

</ul>
<!-- END navigation -->


<ul id="slide-settings" class="sidenav sidesettings right fixed">
    <li class="menulinks">
      <ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            {% include 'partials/main-menu-theme.html' %}
            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      </ul>
    </li>
    </ul></li>
</ul>

   <div class="carousel carousel-fullscreen carousel-slider home_carousel">
    
    <div class="carousel-item" href="#two!"><div class="bg" style="background-image: url('/static/assets/images/slider-4.jpg')"></div>
					    <div class="item-content left-align white-text">
				              <div class="spacer-large"></div>
					          <h3>JCR is the best tool to report crimes</h3>
					          <h5 class="light white-text">Come on, lets fight crime</h5>
						</div>
	</div>
    <div class="carousel-item" href="#three!"><div class="bg" style="background-image: url('static/assets/images/slider-2.jpg')"></div>
						<div class="item-content center-align white-text">
				              <div class="spacer-large"></div>
					          <h3>JCR is the best tool to report crimes</h3>
					          <h5 class="light white-text">Come on, lets fight crime</h5>
						</div>
    </div>
    <div class="carousel-item" href="#four!"><div class="bg" style="background-image: url('static/assets/images/slider-3.jpg')"></div>
						<div class="item-content right-align white-text">
				              <div class="spacer-large"></div>
					          <h3>JCR is the best tool to report crimes</h3>
					          <h5 class="light white-text">Come on, lets fight crime</h5>
						</div>
    </div>
  </div>

  <div class="container">
    <div class="section">

</div>
</div>
  <div class="container">
    <div class="section">

     

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit center ">Report</h5>                
                    <div class="row settings-row">

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a class="waves-effect waves-light modal-trigger" href="#uploadCrimeVideo">
                        <i class="mdi mdi-book-open-page-variant"></i>
                        <h6>Upload Video</h6>
                    </a>
                    </div>
                </div>

                <div id="uploadCrimeVideo" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
                  <form action="{% url 'crimereports:upload-crime' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                      <div class="modal-content">
                        <h4>Upload</h4>
                        <div class="row ">

                          <div class="col s12 pad-0">
                            <div class="input-field col s12">
                              {{  crime_form.location }}
                              <label for="textarea2" class="">Town Located</label>
                            <span class="character-counter" style="float: right; font-size: 12px;">0/120</span></div>
                          </div>

                          <div class="col s12 pad-0">
                            <div class="input-field col s12">
                              {{  crime_form.location_description }}
                              <label for="textarea2" class="">Describe your Location</label>
                            <span class="character-counter" style="float: right; font-size: 12px;">0/120</span></div>
                          </div>
    
                          <div class="file-field col input-field s12">
                            <div class="btn">
                              <span>File</span>
                              {{crime_image_form.image}}
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" placeholder="Upload the images">
                            </div>
                          </div>

                          <div class="file-field col input-field s12">
                            <div class="btn">
                              <span>File</span>
                              {{crime_video_form.video}}
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" placeholder="Upload the Videos">
                            </div>
                          </div>
    
    
                          </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                        <button type="submit" class="waves-effect waves-green btn-flat">Upload</button>
                        
                      </div>
                  </form>
                </div>

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="#!">
                        <i class="mdi mdi-midi-port"></i>
                        <h6>Upload Image</h6>
                    </a>
                    </div>
                </div>

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="#!">
                        <i class="mdi mdi-invert-colors"></i>
                        <h6>Light & Dark Mode</h6>
                    </a>
                    </div>
                </div>


                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="#!">
                        <i class="mdi mdi-flask-outline"></i>
                        <h6>Utility Components</h6>
                    </a>
                    </div>
                </div>

                



            </div>

    </div>
    </div>
    

    </div>
  </div>

     <div class="row primary-bg">
<div class="spacer"></div>
<div class="spacer"></div>
<h5 class="center bot-0 sec-tit white-text pad-15">Built with <i class="mdi mdi-heart" style="font-size:20px;"></i></h5>
<p class="center-align white-text pad-30">ZAK is built by elite author with utmost care and perfection. We pour love in our work.</p>
<div class="center"><a class="btn-large waves-effect white black-text" target="_blank" href="https://themeforest.net/user/themepassion/portfolio">Buy Now</a></div>
<div class="spacer"></div>
<div class="spacer"></div>
</div>
  <div class="container">
    <div class="section">


     <div class="spacer"></div>
<h5 class="center bot-20 sec-tit">Our Customer's Say</h5>


<div class="slider slider3 ">
    <ul class="slides transparent testimonials">
      <li>
		<p class="center"><i class="mdi mdi-format-quote-open"></i> We are so pleased with the purchase of this product. Zak has tons of components and features to deal with. You can really create anything you like.<i class="mdi mdi-format-quote-close"></i> </p>
		<div class=" center-align">
			<div class="row userinfo">
                      <img src="{% static 'assets/images/user-30.jpg' %}" alt="" class="circle responsive-img">
                    <div class="left-align">
                      <span class=""><strong>Kai Badger</strong>
                        <br><span class='small'>CEO, Ink Ltd.</span>
                      </span>
                    </div>
        	</div>
        	</div>
      </li>

      <li>
		<p class="center"><i class="mdi mdi-format-quote-open"></i> We highly recommend using Zak for your next project. It is super quality and premium template that you can ask for. Just go for it.<i class="mdi mdi-format-quote-close"></i> </p>
		<div class=" center-align">
			<div class="row userinfo">
                      <img src="{% static 'assets/images/user-17.jpg' %}" alt="" class="circle responsive-img">
                    <div class="left-align">
                      <span class=""><strong>Lucie Hovey</strong>
                        <br><span class='small'>Manager, Zed Ind.</span>
                      </span>
                    </div>
        	</div>
        	</div>
      </li>

      <li>
		<p class="center"><i class="mdi mdi-format-quote-open"></i> A perfect template to get you going for your next project. A full loaded feature packed template. It is multi purpose and super fast. Thank you for such a wonderful template.<i class="mdi mdi-format-quote-close"></i> </p>
		<div class=" center-align">
			<div class="row userinfo">
                      <img src="{% static 'assets/images/user-8.jpg' %}" alt="" class="circle responsive-img">
                    <div class="left-align">
                      <span class=""><strong>Denny Veiga</strong>
                        <br><span class='small'>Sr. Designer</span>
                      </span>
                    </div>
        	</div>
        	</div>
      </li>


    </ul>
  </div>
    </div>
  </div>




<footer class="page-footer">
    {% include 'partials/footer.html' %}
  </footer>

  <div class="backtotop">
    <a class="btn-floating btn primary-bg">
      <i class="mdi mdi-chevron-up"></i>
    </a>
  </div>




    <div class="footer-menu">
      {% include 'partials/bottom-nav.html' %}
    </div>


{% endblock body %}

{% block javascript %}
  <script type="text/javascript">
    $(".modal").modal();
  </script>
{% endblock javascript %}