{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block body %}


{% include 'partials/navigation.html' %}

<ul id="slide-settings" class="sidenav sidesettings right fixed">
    <li class="menulinks">
      <ul class="collapsible">
      <!-- SIDEBAR - START -->

    <!-- MAIN MENU - START -->

            {% include 'partials/main-menu-theme.html' %}
            
    <!-- MAIN MENU - END -->



<!--  SIDEBAR - END -->
      </ul>
    </li>
    </ul></li>
</ul>

   

  <div class="container">
    <div class="section">

</div>
</div>
  <div class="container">
    <div class="section">

     

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit center ">Report</h5>                
                    <div class="row settings-row">

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a class="waves-effect waves-light modal-trigger" href="#uploadCrimeVideo">
                        <i class="mdi mdi-book-open-page-variant"></i>
                        <h6>Report Ongoing <br> Crime</h6>
                    </a>
                    </div>
                </div>

                <div id="uploadCrimeVideo" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
                  <form action="{% url 'crimereports:upload-crime' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                      <div class="modal-content">
                        <h4>Upload</h4>
                        <div class="row ">

                          <div class="col s12 pad-0">
                            <div class="input-field col s12">
                              {{  crime_form.location }}
                              <label for="textarea2" class="">Town Located</label>
                            <span class="character-counter" style="float: right; font-size: 12px;">0/120</span></div>
                          </div>

                          <div class="col s12 pad-0">
                            <div class="input-field col s12">
                              {{  crime_form.location_description }}
                              <label for="textarea2" class="">Describe your Location</label>
                            <span class="character-counter" style="float: right; font-size: 12px;">0/120</span></div>
                          </div>
    
                          <div class="file-field col input-field s12">
                            <div class="btn">
                              <span>File</span>
                              {{crime_image_form.image}}
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" placeholder="Upload the images">
                            </div>
                          </div>

                          <div class="file-field col input-field s12">
                            <div class="btn">
                              <span>File</span>
                              {{crime_video_form.video}}
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text" placeholder="Upload the Videos">
                            </div>
                          </div>
    
    
                          </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                        <button type="submit" class="waves-effect waves-green btn-flat">Upload</button>
                        
                      </div>
                  </form>
                </div>

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="{% url 'crimereports:upload-terrorism' %}">
                        <i class="mdi mdi-midi-port"></i>
                        <h6>Report Terrorism Activities</h6>
                    </a>
                    </div>
                </div>

                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="#!">
                        <i class="mdi mdi-invert-colors"></i>
                        <h6>Report Suspicious Activities</h6>
                    </a>
                    </div>
                </div>


                <div class="col s6">
                    <div class="setting-box z-depth-1 center">
                    <a href="#!">
                        <i class="mdi mdi-flask-outline"></i>
                        <h6>Report Lost <br> Belonging</h6>
                    </a>
                    </div>
                </div>

                <div class="col s6">
                  <div class="setting-box z-depth-1 center">
                  <a href="#!">
                      <i class="mdi mdi-flask-outline"></i>
                      <h6>Report Theft</h6>
                  </a>
                  </div>
              </div>

                <div class="col s6">
                  <div class="setting-box z-depth-1 center">
                  <a href="#!">
                      <i class="mdi mdi-flask-outline"></i>
                      <h6>Most Wanted</h6>
                  </a>
                  </div>
              </div>

                



            </div>

    </div>
    </div>
    

    </div>
  </div>

     <div class="row primary-bg">
<div class="spacer"></div>
<div class="spacer"></div>
<h5 class="center bot-0 sec-tit white-text pad-15">Make best use of us <i class="mdi mdi-heart" style="font-size:20px;"></i></h5>

<div class="spacer"></div>
<div class="spacer"></div>
</div>
  




<footer class="page-footer">
    {% include 'partials/footer.html' %}
  </footer>

  <div class="backtotop">
    <a class="btn-floating btn primary-bg">
      <i class="mdi mdi-chevron-up"></i>
    </a>
  </div>




    <div class="footer-menu">
      {% include 'partials/bottom-nav.html' %}
    </div>


{% endblock body %}

{% block javascript %}
  <script type="text/javascript">
    $(".modal").modal();
  </script>
{% endblock javascript %}