{% extends 'base.html' %}
{% load static %}

{% block title %} Verify     {% endblock title %}
    <!-- App Header -->
    {% block body %}
    
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2 text-center">
            <h1>Enter SMS Code</h1>
            <h4>Enter 6 digit sms verification code</h4>
        </div>
        <div class="section mt-2 text-center">
            <p>{% include 'partials/messages.html' %}</p>
        </div>
        <div class="section mb-5 p-2">
            <form method="POST" action="{% url 'users:phone-verification' %}">{% csrf_token %}
                <div class="form-group basic">
                    <input name="ver_code" type="text" class="form-control verification-input" id="smscode" placeholder="******"
                        maxlength="6">
                </div>

                <div class="form-button-group transparent">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Verify</button>
                </div>

            </form>
        </div>

    </div>
    <!-- * App Capsule -->
    
    {% endblock body %}

